.Search {
    display: flex;
    margin: 0px 10px;
    margin: 0 10px 0 auto;
    /* flex: 0 0 200px; */
}

.Search input {
    outline: none;
    padding: 0 10px;
    height: 38px;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(245, 245, 241, 0.1);
    border-radius: 7px;
    width: 200px;
    font-size: 0.8em;
    transition: border 0.5s ease;
}

.Search input:focus {
    border: 2px solid rgb(182, 32, 42);
}


/* appearance: none;
pointer-events: all;
-webkit-transition: border 0.25s ease, width 0.125s ease 0.125s;
transition: border 0.25s ease, width 0.125s ease 0.125s; */